<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link href="/css/sequence-diagram.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="text-central">
      <h2>
        No STIX available
      </h2>
    </div>
  </body>
</html>
