<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="text-central">
      <h3>
        Error 404!
        <br>
        Sorry, please go to the <a href="/app">home page</a> and try again!
      </h3>
    </div>
  </body>
</html>
