<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="text-central">
      <form action="/app/msc" method="post">
        Please login to the MSC Drawer:<br>
        <input type="password" name="sessionId" placeholder="Password"/> <br>
        <input type="submit" value="Login" class="btn btn-primary"/>
      </form>
    </div>
  </body>
</html>
