<div class="messageInfo-popup scrollable-content" id="messageInfo">
  <div class="close" onclick="closeStaticPopup()">x</div>
  <div class="messageInfo-container" id="messageInfoContent"></div>
  <a id="messageDetailsLink" target="blank">
    <span class="iconify infoIcon" data-icon="ic:outline-info" data-inline="false" />
  </a>
  <a class="json-position" data-toggle="tooltip-json" data-placement="bottom" title="Copy JSON to clipboard">
    <span id="copyJson" class="iconify jsonCopyIcon" data-icon="bx:bxs-file-json" data-inline="false"></span>
  </a>
</div>
