<div class="search-popup" id="search">
  <div class="search-container">
    <input type="text" id="searchBox" class="" placeholder="Search..."></input>
    <button id="searchButton" onclick="search()" class="btn btn-primary">Search</button><br />
    <span class="search-field-text">Search in:</span>
    <span class="search-field"><input type="checkbox" id="cbxURL" checked /> URL</span>
    <span class="search-field"><input type="checkbox" id="cbxHeaders" checked /> Headers</span>
    <span class="search-field"><input type="checkbox" id="cbxParams" checked /> Parameters</span>
    <div id="search-results" />
  </div>
</div>
